Curse_of_Babel/Logs
*.meta
Curse_of_Babel/Assembly-CSharp.csproj
Curse_of_Babel/Library/APIUpdater/project-dependencies.graph
Curse_of_Babel/Library/CurrentLayout-default.dwlt
Curse_of_Babel/Library/assetDatabase3
Curse_of_Babel/Library/CurrentMaximizeLayout.dwlt
Curse_of_Babel/Library/metadata/03/039c577c2b12be54bad05dbb5eee8e9a.info
Curse_of_Babel/Library/metadata/03/03ac7b05ebf91b74c8af2ee65543cf7d.info
Curse_of_Babel/Library/metadata/47/4777f22252126734da229b78f894a6d9.info
Curse_of_Babel/Library/metadata/4b/4ba2329b63d54f0187bcaa12486b1b0f
Curse_of_Babel/Library/metadata/2e/2e26b24b88d884743a62079ca4a76a37.info
Curse_of_Babel/Library/metadata/5e/5e017b2fa1b38844d835ed8ff6d728d2.info
Curse_of_Babel/Library/metadata/60/600b779db888ca94db7e94487e86338f.info
Curse_of_Babel/Library/metadata/72/72c0a822729c17140a8b9be2498d2898.info
Curse_of_Babel/Library/metadata/84/8400decbcbafaec4db923a11aed16c62
Curse_of_Babel/Library/metadata/8c/8ce70a49e215a9e41b6c8cbba0ceac8d.info
Curse_of_Babel/Library/StateCache/SceneView/e427bd-df8168dbc5f99da4ca.json
Curse_of_Babel/Library/StateCache/SceneView/e427bd-d23914cc211ae7d4db.json
Curse_of_Babel/Library/StateCache/SceneView/e427bd-mainStage.json
Curse_of_Babel/Library/StateCache/SceneView/e427bd-95496e8ed310343469.json
Curse_of_Babel/Library/StateCache/Hierarchy/826644-e75ecdad2760fba4ba.json
Curse_of_Babel/Library/StateCache/Hierarchy/826644-e261969f032481f4bb.json
Curse_of_Babel/Library/StateCache/Hierarchy/826644-d23914cc211ae7d4db.json
Curse_of_Babel/Library/shadercompiler-UnityShaderCompiler.exe0.log
Curse_of_Babel/Library/ScriptAssemblies/UnityEngine.UI.pdb
Curse_of_Babel/Library/ScriptAssemblies/UnityEngine.UI.dll
Curse_of_Babel/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Curse_of_Babel/Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Curse_of_Babel/Library/ScriptAssemblies/UnityEditor.UI.pdb
Curse_of_Babel/Library/ScriptAssemblies/UnityEditor.UI.dll
Curse_of_Babel/Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Curse_of_Babel/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.Timeline.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.Timeline.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.TextMeshPro.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.Rider.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Assembly-CSharp.dll
Curse_of_Babel/Library/ScriptAssemblies/Assembly-CSharp.pdb
Curse_of_Babel/Library/metadata/e2/e261969f032481f4bb7cb2daa9c991f5.info
Curse_of_Babel/Library/metadata/df/df8168dbc5f99da4cadfffde40fd2dd5.info
Curse_of_Babel/Library/metadata/df/df8168dbc5f99da4cadfffde40fd2dd5
Curse_of_Babel/Library/metadata/da/da9928f0e5f389141936820adc2315ab
Curse_of_Babel/Library/metadata/d9/d9a5d3ec8a71542aca87fe963d947de5.info
Curse_of_Babel/Library/metadata/d2/d23914cc211ae7d4dbba04b56ecc6159.info
Curse_of_Babel/Library/metadata/d0/d040d432208742a42a73c8daad8adfcc.info
Curse_of_Babel/Library/metadata/c4/c4593077c042fbc49a88fda7911566e8.info
Curse_of_Babel/Assembly-CSharp.csproj
Curse_of_Babel/Library/APIUpdater/project-dependencies.graph
Curse_of_Babel/Library/CurrentLayout-default.dwlt
Curse_of_Babel/Library/assetDatabase3
Curse_of_Babel/Library/CurrentMaximizeLayout.dwlt
Curse_of_Babel/Library/metadata/03/039c577c2b12be54bad05dbb5eee8e9a.info
Curse_of_Babel/Library/metadata/03/03ac7b05ebf91b74c8af2ee65543cf7d.info
Curse_of_Babel/Library/metadata/47/4777f22252126734da229b78f894a6d9.info
Curse_of_Babel/Library/metadata/4b/4ba2329b63d54f0187bcaa12486b1b0f
Curse_of_Babel/Library/metadata/2e/2e26b24b88d884743a62079ca4a76a37.info
Curse_of_Babel/Library/metadata/5e/5e017b2fa1b38844d835ed8ff6d728d2.info
Curse_of_Babel/Library/metadata/60/600b779db888ca94db7e94487e86338f.info
Curse_of_Babel/Library/metadata/72/72c0a822729c17140a8b9be2498d2898.info
Curse_of_Babel/Library/metadata/84/8400decbcbafaec4db923a11aed16c62
Curse_of_Babel/Library/metadata/8c/8ce70a49e215a9e41b6c8cbba0ceac8d.info
Curse_of_Babel/Library/StateCache/SceneView/e427bd-df8168dbc5f99da4ca.json
Curse_of_Babel/Library/StateCache/SceneView/e427bd-d23914cc211ae7d4db.json
Curse_of_Babel/Library/StateCache/SceneView/e427bd-mainStage.json
Curse_of_Babel/Library/StateCache/SceneView/e427bd-95496e8ed310343469.json
Curse_of_Babel/Library/StateCache/Hierarchy/826644-e75ecdad2760fba4ba.json
Curse_of_Babel/Library/StateCache/Hierarchy/826644-e261969f032481f4bb.json
Curse_of_Babel/Library/StateCache/Hierarchy/826644-d23914cc211ae7d4db.json
Curse_of_Babel/Library/shadercompiler-UnityShaderCompiler.exe0.log
Curse_of_Babel/Library/ScriptAssemblies/UnityEngine.UI.pdb
Curse_of_Babel/Library/ScriptAssemblies/UnityEngine.UI.dll
Curse_of_Babel/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Curse_of_Babel/Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Curse_of_Babel/Library/ScriptAssemblies/UnityEditor.UI.pdb
Curse_of_Babel/Library/ScriptAssemblies/UnityEditor.UI.dll
Curse_of_Babel/Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Curse_of_Babel/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.Timeline.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.Timeline.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.TextMeshPro.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.Rider.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Curse_of_Babel/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Curse_of_Babel/Library/ScriptAssemblies/Assembly-CSharp.dll
Curse_of_Babel/Library/ScriptAssemblies/Assembly-CSharp.pdb
Curse_of_Babel/Library/metadata/e2/e261969f032481f4bb7cb2daa9c991f5.info
Curse_of_Babel/Library/metadata/df/df8168dbc5f99da4cadfffde40fd2dd5.info
Curse_of_Babel/Library/metadata/df/df8168dbc5f99da4cadfffde40fd2dd5
Curse_of_Babel/Library/metadata/da/da9928f0e5f389141936820adc2315ab
Curse_of_Babel/Library/metadata/d9/d9a5d3ec8a71542aca87fe963d947de5.info
Curse_of_Babel/Library/metadata/d2/d23914cc211ae7d4dbba04b56ecc6159.info
Curse_of_Babel/Library/metadata/d0/d040d432208742a42a73c8daad8adfcc.info
Curse_of_Babel/Library/metadata/c4/c4593077c042fbc49a88fda7911566e8.info
Curse_of_Babel/Library/CurrentLayout-default.dwlt
